@import "media-queries"
*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background-color: #f0f0f0

#myChart
  width: 100%
  height: auto
.mysideNav
    height: 100%
    position: fixed
    z-index: 1
    top: 0
    left: 0
    background-color: white
    transition: .3s
    width: 200px
    margin-left: -200px

    h1
      font-size: 30px
      font-weight: bold
      color: #575756
      text-align: center
      border-bottom: 1px solid #eaeaea
      padding: 20px
      span:first-of-type
        border-top: 6px solid #575756
      span:nth-of-type(2)
        color: #EE2C6C
        border-bottom: 6px solid #575756
        font-size: 23px
        vertical-align: super
        margin-left: 2px
    .menu
      li
        padding: 10px
        list-style: none
        &:hover
          background-color: #eaeaea
      li:nth-of-type(8)
        text-align: center
        background-color: #EE2C6C
        &:hover
          background-color: #f12367
        a
          color: white
      a
        color: #6a6a6a
        text-align: center
        display: block
        &:hover
          text-decoration: none
        .fa
          margin: 10px


.handler
  background-color: #4a4c4b
  height: 55px
  .top-menu
    margin-left: 0
    transition: margin-left .3s
    padding: 10px
    padding-right: 20px
    padding-top: 20px
    li
      display: inline-block
      a
        color: white
        &:hover
          text-decoration: none
  .reponsive_menu
    float: right
    display: none
    li
      list-style: none
      a
        display: block
        &:hover
          text-decoration: none
  .menu-toggle
    padding: 1.8em
    position: absolute
    cursor: pointer
    height: 56px
  .hamburger
      background: white
      height: 3px
      width: 2em
      border-radius: 3px
      content: ''
      display: block
      transition: ease .3s
      transform: rotate(-360deg)
      &::before
        @extend .hamburger
        transform: translateY(8px)
      &::after
        @extend .hamburger
        transform: translateY(-11px)
  .site-top-nav
    float: right
    .top-menu_flat
      li
        list-style: none
        display: inline-block

.slide_content
  margin-left: 200px
.open_sideNav
  margin-left: 0px

.hamburger_open
  transform: rotate(360deg)
  transition: ease .3s
  .hamburger::before
    width: 50%
    top: 0
    transform: translateX(-2px) translateY(4px) rotate(45deg)
  .hamburger::after
    width: 50%
    bottom: 0
    transform: translateX(-1px) translateY(-7.8px) rotate(-45deg)


  .hr_normalize
    height: 2px
    border: none
    background: #eaeaea
  .box_normalize
    width: 570px
    background-color: white
    border-radius: 5px
    box-shadow: 0 0 1px 1px rgba(0,0,0,.07)
    padding: 10px
  .text_color
    color: #494c4a

  .content
    width: 1000px
    margin: 0 auto
    transition:  ease .7s
    margin-top: 7.5%
    .content_wrapper
      li
        list-style-type: none
        width: 570px
        margin-bottom: 2.5%
        div
          padding: 10px
        .project
            @extend .box_normalize
            span
              font-size: 1.8rem
              font-weight: 400
              width: 100%
            hr
              @extend .hr_normalize
        .top_bar_status
          padding: 10px
          margin-bottom: 10px
        .status_image
          width: 172px
        .status_infos
          width: 300px
          padding: 10px
          vertical-align: top
          margin-left: 2.5%
          a
            background-color: #e71864
            color: white
            border-radius: 5px
            font-weight: 200
            padding: 10px
            &:hover
              background-color: #ec4d88
              text-decoration: none
        .status_content_wrapper
          background-color: #f0f0f0
          border-radius: 5px
          padding: 10px
          div
            display: inline-block
      .vos_projets
        a
          border: 1px solid #494c4a
          border-radius: 5px
          color: #494c4a
          padding: 10px
          &:hover
            color: white
            background-color: #494c4a
  .start_info
        @extend .box_normalize
        width: 100%
        span
          padding: 10px
        p
          padding: 10px
        .start_link_info_plus
          a:first-of-type
            background: #def6dc
            display: block
            border-radius: 5px
            padding: 10px
            margin-bottom: 1.5%
            @extend .text_color
          span
              padding: 10px
          a:not(:first-of-type)
            background-color: #feeef3
            display: block
            padding: 10px
            margin-bottom: 1.5%
            border-radius: 5px
            @extend .text_color
            span
              padding: 10px
  .section_pro
    @extend .box_normalize
    width: 100%
    span
      font-weight: bold
      padding: 10px
    .pro_infos_link
      a
          border: 1px solid #494c4a
          border-radius: 5px
          color: #494c4a
          padding: 10px
          &:hover
            color: white
            background-color: #494c4a
  .spotify_chart
    @extend .box_normalize
    width: 100%
    span
      padding: 10px
      margin-bottom: 1.5%
      color: #4c4e4d
      &:hover
        color: white
    .link_for_statistique
        a
            border: 1px solid #494c4a
            border-radius: 5px
            color: #494c4a
            padding: 10px
            &:hover
              color: white
              background-color: #494c4a
    .link_for_statistique
        .example
          display: block
          position: absolute
          margin-left: 8%
          margin-top: 7%
          background-color: rgba(69, 69, 69, 0.68)
          border-radius: 50px
          width: 9%
          text-align: center
          color: white
          font-weight: 200
  .user_profils
    @extend .box_normalize
    width: 100%
    span
      padding: 10px
      font-size: 20px
      font-weight: 400
      color: #4c4e4d
    .artist_thumbnails
      p
        padding: 10px
      img
        width: 100%
    .artist_infos_link
      a
          border: 1px solid #494c4a
          border-radius: 5px
          color: #494c4a
          padding: 10px
          &:hover
            color: white
            background-color: #494c4a
  .social_media_merge
    width: 380px
  li
      list-style: none
      width: 100%
      margin-bottom: 10%
  .header_title_activity
    @extend .box_normalize
    width: 100%
    width: 380px
    span
      padding: 10px
    .activity_thumbnails
      width: 100%
      margin-top: 2%
      .image_activity_container
        vertical-align: middle
        padding: 10px
        img
          width: 100%
          vertical-align: super
    .reference
      width: 75%
      vertical-align: middle
      p
        width: 100%
    .music_activity
      background-color: #f0f0f0
      border-radius: 5px
      padding: 10px
      div
        display: inline-block


    .link_for_pro
      padding: 10px 10px 10px 1px;
      margin-top: 3%;
      a
        border: 1px solid #494c4a
        border-radius: 5px
        color: #494c4a
        padding: 10px
        &:hover
          color: white
          background-color: #494c4a
  .social_media
    li
      width: 380px
  .social_media_info
      @extend .box_normalize
      width: 100%
      .media_sociaux
        padding: 10px
        font-size: 18px
        font-weight: 400
        display: block
      p
        padding: 10px
      .music_platform
        background-color: #f0f0f0
        border-radius: 5px
        padding: 10px
        .fa:first-of-type
          background-color: #e62117
          padding: 10px
          border-radius: 50%
        .fa
          width: 71px
          text-align: center
          margin: 1.5%
          padding: 10px
      .fa:nth-of-type(2)
        background-color: #ff6e00
        border-radius: 50%
      .fa:nth-of-type(3)
        background-color: #1da1f2
        border-radius: 50%
      .fa:last-of-type
        background-color: #3b5998
        border-radius: 50%
  .platform_social_link
    margin-top: 5.5%
    margin-bottom: 2.5%
    a
      border: 1px solid #494c4a
      border-radius: 5px
      color: #494c4a
      padding: 10px
      &:hover
        color: white
        background-color: #494c4a


  .content
  ul
    float: left
    margin-left: 2%
    // responsive
  @include mq($max-width: 400px)

.hr_normalize
  height: 2px
  border: none
  background: #eaeaea
.box_normalize
  width: 570px
  background-color: white
  border-radius: 5px
  box-shadow: 0 0 1px 1px rgba(0,0,0,.07)
  padding: 10px
.text_color
  color: #494c4a
.main
  transition:  .3s
  h2
    display: none
  .content
    width: 1000px
    margin: 0 auto
    transition:  ease .7s
    margin-top: 55px
    .content_wrapper
      li
        list-style-type: none
        width: 570px
        margin-bottom: 2.5%
        div
          padding: 10px
        .project
            @extend .box_normalize
            span
              font-size: 1.8rem
              font-weight: 400
            hr
              @extend .hr_normalize
        .top_bar_status
          padding: 10px
          margin-bottom: 10px
        .status_image
          width: 172px
        .status_infos
          width: 300px
          padding: 10px
          vertical-align: top
          margin-left: 2.5%
          a
            background-color: #e71864
            color: white
            border-radius: 5px
            font-weight: 200
            padding: 10px
            &:hover
              background-color: #ec4d88
              text-decoration: none
        .status_content_wrapper
          background-color: #f0f0f0
          border-radius: 5px
          padding: 10px
          div
            display: inline-block
      .vos_projets
        a
          border: 1px solid #494c4a
          border-radius: 5px
          color: #494c4a
          padding: 10px
          &:hover
            color: white
            background-color: #494c4a
  .start_info
        @extend .box_normalize
        span
          padding: 10px
        p
          padding: 10px
        .start_link_info_plus
          a:first-of-type
            background: #def6dc
            display: block
            border-radius: 5px
            padding: 10px
            margin-bottom: 1.5%
            @extend .text_color
          span
              padding: 10px
          a:not(:first-of-type)
            background-color: #feeef3
            display: block
            padding: 10px
            margin-bottom: 1.5%
            border-radius: 5px
            @extend .text_color
            span
              padding: 10px
  .section_pro
    @extend .box_normalize
    span
      font-weight: bold
      padding: 10px
    .pro_infos_link
      a
          border: 1px solid #494c4a
          border-radius: 5px
          color: #494c4a
          padding: 10px
          &:hover
            color: white
            background-color: #494c4a
  .spotify_chart
    @extend .box_normalize
    span
      padding: 10px
      margin-bottom: 1.5%
      color: #4c4e4d
      &:hover
        color: white
    .link_for_statistique
        a
            border: 1px solid #494c4a
            border-radius: 5px
            color: #494c4a
            padding: 10px
            &:hover
              color: white
              background-color: #494c4a
    .link_for_statistique
        .example
          display: block
          position: absolute
          margin-left: 8%
          margin-top: 7%
          background-color: rgba(69, 69, 69, 0.68)
          border-radius: 50px
          width: 9%
          text-align: center
          color: white
          font-weight: 200
.user_profils
    @extend .box_normalize
    span
      padding: 10px
      font-size: 20px
      font-weight: 400
      color: #4c4e4d
    .artist_thumbnails
      p
        padding: 10px
      img
        width: 100%
    .artist_infos_link
      a
          border: 1px solid #494c4a
          border-radius: 5px
          color: #494c4a
          padding: 10px
          &:hover
            color: white
            background-color: #494c4a
.social_media_merge
  width: 380px
  li
      list-style: none
      width: 100%
      margin-bottom: 10%
.header_title_activity
    @extend .box_normalize
    width: 380px
    span
      padding: 10px
    .activity_thumbnails
      width: 100%
      margin-top: 2%
      .image_activity_container
        vertical-align: middle
        padding: 10px
        img
          width: 100%
          vertical-align: super
    .reference
      width: 75%
      vertical-align: middle
      p
        width: 100%
    .music_activity
      background-color: #f0f0f0
      border-radius: 5px
      padding: 10px
      div
        display: inline-block


    .link_for_pro
      padding: 10px 10px 10px 1px;
      margin-top: 3%;
      a
        border: 1px solid #494c4a
        border-radius: 5px
        color: #494c4a
        padding: 10px
        &:hover
          color: white
          background-color: #494c4a
.social_media
  .social_media_info
      @extend .box_normalize
      width: 380px
      .media_sociaux
        padding: 10px
        font-size: 18px
        font-weight: 400
        display: block
      p
        padding: 10px
      .music_platform
        background-color: #f0f0f0
        border-radius: 5px
        padding: 10px
        .fa:first-of-type
          background-color: #e62117
          padding: 10px
          border-radius: 50%
        .fa
          width: 71px
          text-align: center
          margin: 1.5%
          padding: 10px
      .fa:nth-of-type(2)
        background-color: #ff6e00
        border-radius: 50%
      .fa:nth-of-type(3)
        background-color: #1da1f2
        border-radius: 50%
      .fa:last-of-type
        background-color: #3b5998
        border-radius: 50%
  .platform_social_link
    margin-top: 5.5%
    margin-bottom: 2.5%
    a
      border: 1px solid #494c4a
      border-radius: 5px
      color: #494c4a
      padding: 10px
      &:hover
        color: white
        background-color: #494c4a
.content
  ul
    float: left
    margin-left: 2%
    // responsive pur mobile

@include mq($max-width:1024px)











@include mq($max-width:768px)
    body
      overflow-x: hidden
      .top-menu
        display: none
      .main
        .reponsive_menu
          display: block
          margin-top: -54.5px
          padding: 10px
        h2
          display: block
          font-size: 25px
          margin: 0
          padding: 10px
          text-align: center
          color: #f9f9f9
          transition: width .2s
          span:first-of-type
                border-top: 5px solid #f9f9f9
          span:nth-of-type(2)
            border-bottom: 5px solid #f9f9f9
            vertical-align: super
            margin-left: 3px
        .content
          width: 738px
          overflow-x: hidden
          .content_wrapper
            float: none
            width: 100%
            margin: 0
            padding: 10px
            li
              width: 100%
              padding: 10px
              .project
                width: 100%
            .start_info,.section_pro,.spotify_chart,.user_profils
              width: 100%
            .pro_thumbnail
              img
                width: 19.4%
            .spotify_chart
              .example
                width: 47%
                margin-top: 27%
                margin-left: 15%
        .social_media_merge
          margin: 0
          width: 100%
          padding: 10px
          li
            width: 100%
            padding: 10px
            .header_title_activity,.social_media,.social_media_info
              width: 100%
            .social_media_info
              .fa
                font-size: 45px
                width: 87px
                margin: 4.5%
    #myChart
      width: 100%
      height: auto
// include reponsive iphone 6 7 landscape
@include mq($max-width:667px)
  body
    overflow-x: hidden
    .top-menu
      display: none
    .main
      .reponsive_menu
        display: block
        margin-top: -54.5px
        padding: 10px
      h2
        display: block
        font-size: 25px
        margin: 0
        padding: 10px
        text-align: center
        color: #f9f9f9
        span:first-of-type
              border-top: 5px solid #f9f9f9
        span:nth-of-type(2)
          border-bottom: 5px solid #f9f9f9
          vertical-align: super
          margin-left: 3px
      .content
        width: 667px
        .content_wrapper
          float: none
          width: 100%
          margin: 0
          padding: 10px
          li
            width: 647px
            padding: 10px
            .project
              width: 100%
          .start_info,.section_pro,.spotify_chart,.user_profils
            width: 100%
          .pro_thumbnail
            img
              width: 19.4%
          .spotify_chart
            .example
              width: 47%
              margin-top: 27%
              margin-left: 15%
      .social_media_merge
        margin: 0
        width: 667px
        padding: 10px
        li
          width: 100%
          padding: 10px
          .header_title_activity,.social_media,.social_media_info
            width: 100%
          .social_media_info
            .fa
              font-size: 45px
              width: 87px
              margin: 4.5%
  // reponsive tablette portrait mode
// fin reponsive iphone 6 7 landscape
// iphone 5 portrait
@include mq($max-width:568px)
// fin responsive iphone 5s landscape
@include mq($max-width:414px)
  body
    overflow-x: hidden
    .top-menu
      display: none
    .main
      .reponsive_menu
        display: block
        margin-top: -54.5px
        padding: 10px
      h2
        display: block
        font-size: 25px
        margin: 0
        padding: 10px
        text-align: center
        color: #f9f9f9
        span:first-of-type
              border-top: 5px solid #f9f9f9
        span:nth-of-type(2)
          border-bottom: 5px solid #f9f9f9
          vertical-align: super
          margin-left: 3px
      .content
        width: 414px
        overflow: hidden
        .content_wrapper
          float: none
          width: 100%
          margin: 0
          padding: 10px
          li
            width: 100%
            padding: 10px
            .project
              width: 100%
          .start_info,.section_pro,.spotify_chart,.user_profils
            width: 100%
          .pro_thumbnail
            img
              width: 18.9%
          .spotify_chart
            .example
              width: 47%
              margin-top: 27%
              margin-left: 15%
      .social_media_merge
        width: 413px
        li
          width: 100%
          padding: 10px
          .header_title_activity,.social_media,.social_media_info
            width: 100%
          .social_media_info
            .fa
              width: 49px
              font-size: 28px
@include mq($max-width: 400px)
  body
    overflow-x: hidden
    .top-menu
      display: none
    .main
      .reponsive_menu
        display: block
        margin-top: -54.5px
        padding: 10px
      h2
        display: block
        font-size: 25px
        margin: 0
        padding: 10px
        text-align: center
        color: #f9f9f9
        span:first-of-type
              border-top: 5px solid #f9f9f9
        span:nth-of-type(2)
          border-bottom: 5px solid #f9f9f9
          vertical-align: super
          margin-left: 3px
      .content
        width: 380px
        overflow: hidden
        .content_wrapper
          float: none
          width: 100%
          margin: 0
          padding: 10px
          li
            width: 100%
            padding: 10px
            .project
              width: 100%
          .start_info,.section_pro,.spotify_chart,.user_profils
            width: 100%
          .pro_thumbnail
            img
              width: 18.9%
          .spotify_chart
            .example
              width: 47%
              margin-top: 27%
              margin-left: 15%
      .social_media_merge
        width: 365px
        li
          width: 100%
          padding: 10px
          .header_title_activity,.social_media,.social_media_info
            width: 100%
          .social_media_info
            .fa
              width: 62px
                  // responsive tablette ipad landscape mode
// reponsive iphone 6 7 portrait
@include mq($max-width:375px)
  body
    overflow-x: hidden
    .top-menu
      display: none
    .main
      .reponsive_menu
        display: block
        margin-top: -54.5px
        padding: 10px
      h2
        display: block
        font-size: 25px
        margin: 0
        padding: 10px
        text-align: center
        color: #f9f9f9
        span:first-of-type
              border-top: 5px solid #f9f9f9
        span:nth-of-type(2)
          border-bottom: 5px solid #f9f9f9
          vertical-align: super
          margin-left: 3px
      .hideItems
        display: none
      .content
        width: 375px
        .content_wrapper
          float: none
          width: 100%
          margin: 0
          padding: 10px
          li
            width: 355px
            padding: 10px
            .project
              width: 100%
              .status_image
                width: 100%
                img
                  width: 100%
          .start_info,.section_pro,.spotify_chart,.user_profils
            width: 100%
          .pro_thumbnail
            img
              width: 18.4%
          .spotify_chart
            .example
              width: 47%
              margin-top: 27%
              margin-left: 15%
      .social_media_merge
        margin: 0
        width: 375px
        padding: 10px
        li
          width: 100%
          padding: 10px
          .header_title_activity,.social_media,.social_media_info
            width: 100%
          .social_media_info
            .fa
              font-size: 45px
              width: 67px
              margin: 0.5%

//fin reponsive iphone 6 7 portrait
// reponsive iphone 5
@include mq($max-width:320px)
    body
      overflow-x: hidden
      .top-menu
        display: none
      .main
        .reponsive_menu
          display: block
          margin-top: -54.5px
          padding: 10px
        h2
          display: block
          font-size: 25px
          margin: 0
          padding: 10px
          text-align: center
          color: #f9f9f9
          span:first-of-type
                border-top: 5px solid #f9f9f9
          span:nth-of-type(2)
            border-bottom: 5px solid #f9f9f9
            vertical-align: super
            margin-left: 3px
        .content
          width: 320px
          .content_wrapper
            float: none
            width: 100%
            margin: 0
            padding: 10px
            li
              width: 300px
              padding: 10px
              .project
                width: 100%
                .status_image
                  width: 100%
                  img
                    width: 100%
                .status_infos
                  width: 255px
            .start_info,.section_pro,.spotify_chart,.user_profils
              width: 100%
            .pro_thumbnail
              img
                width: 18.4%
            .spotify_chart
              .example
                width: 47%
                margin-top: 27%
                margin-left: 15%
        .social_media_merge
          margin: 0
          width: 305px
          padding: 10px
          li
            width: 100%
            padding: 10px
            .header_title_activity,.social_media,.social_media_info
              width: 100%
            .social_media_info
              .fa
                font-size: 45px
                width: 67px
                margin: 0.5%
    .hideItems
      display: none
// fin reponsive iphone 5
