* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

#myChart {
  width: 100%;
  height: auto;
}

.mysideNav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  transition: .3s;
  width: 200px;
  margin-left: -200px;
}

.mysideNav h1 {
  font-size: 30px;
  font-weight: bold;
  color: #575756;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  padding: 20px;
}

.mysideNav h1 span:first-of-type {
  border-top: 6px solid #575756;
}

.mysideNav h1 span:nth-of-type(2) {
  color: #EE2C6C;
  border-bottom: 6px solid #575756;
  font-size: 23px;
  vertical-align: super;
  margin-left: 2px;
}

.mysideNav .menu li {
  padding: 10px;
  list-style: none;
}

.mysideNav .menu li:hover {
  background-color: #eaeaea;
}

.mysideNav .menu li:nth-of-type(8) {
  text-align: center;
  background-color: #EE2C6C;
}

.mysideNav .menu li:nth-of-type(8):hover {
  background-color: #f12367;
}

.mysideNav .menu li:nth-of-type(8) a {
  color: white;
}

.mysideNav .menu a {
  color: #6a6a6a;
  text-align: center;
  display: block;
}

.mysideNav .menu a:hover {
  text-decoration: none;
}

.mysideNav .menu a .fa {
  margin: 10px;
}

.handler {
  background-color: #4a4c4b;
  height: 55px;
}

.handler .top-menu {
  margin-left: 0;
  transition: margin-left .3s;
  padding: 10px;
  padding-right: 20px;
  padding-top: 20px;
}

.handler .top-menu li {
  display: inline-block;
}

.handler .top-menu li a {
  color: white;
}

.handler .top-menu li a:hover {
  text-decoration: none;
}

.handler .reponsive_menu {
  float: right;
  display: none;
}

.handler .reponsive_menu li {
  list-style: none;
}

.handler .reponsive_menu li a {
  display: block;
}

.handler .reponsive_menu li a:hover {
  text-decoration: none;
}

.handler .menu-toggle {
  padding: 1.8em;
  position: absolute;
  cursor: pointer;
  height: 56px;
}

.handler .hamburger, .handler .hamburger::before, .handler .hamburger::after {
  background: white;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  content: '';
  display: block;
  transition: ease .3s;
  transform: rotate(-360deg);
}

.handler .hamburger::before {
  transform: translateY(8px);
}

.handler .hamburger::after {
  transform: translateY(-11px);
}

.handler .site-top-nav {
  float: right;
}

.handler .site-top-nav .top-menu_flat li {
  list-style: none;
  display: inline-block;
}

.slide_content {
  margin-left: 200px;
}

.open_sideNav {
  margin-left: 0px;
}

.hamburger_open {
  transform: rotate(360deg);
  transition: ease .3s;
}

.hamburger_open .hamburger::before {
  width: 50%;
  top: 0;
  transform: translateX(-2px) translateY(4px) rotate(45deg);
}

.hamburger_open .hamburger::after {
  width: 50%;
  bottom: 0;
  transform: translateX(-1px) translateY(-7.8px) rotate(-45deg);
}

.hamburger_open .hr_normalize, .hamburger_open .content .content_wrapper li .project hr, .main .content .content_wrapper li .project .hamburger_open hr {
  height: 2px;
  border: none;
  background: #eaeaea;
}

.hamburger_open .box_normalize, .hamburger_open .content .content_wrapper li .project, .hamburger_open .start_info, .hamburger_open .section_pro, .hamburger_open .spotify_chart, .hamburger_open .social_media_info, .main .content .content_wrapper li .hamburger_open .project, .hamburger_open .user_profils, .hamburger_open .header_title_activity {
  width: 570px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07);
  padding: 10px;
}

.hamburger_open .text_color, .hamburger_open .start_info .start_link_info_plus a:first-of-type, .hamburger_open .start_info .start_link_info_plus a:not(:first-of-type), .main .start_info .start_link_info_plus .hamburger_open a:first-of-type, .main .start_info .start_link_info_plus .hamburger_open a:not(:first-of-type) {
  color: #494c4a;
}

.hamburger_open .content {
  width: 1000px;
  margin: 0 auto;
  transition: ease .7s;
  margin-top: 7.5%;
}

.hamburger_open .content .content_wrapper li {
  list-style-type: none;
  width: 570px;
  margin-bottom: 2.5%;
}

.hamburger_open .content .content_wrapper li div {
  padding: 10px;
}

.hamburger_open .content .content_wrapper li .project span {
  font-size: 1.8rem;
  font-weight: 400;
  width: 100%;
}

.hamburger_open .content .content_wrapper li .top_bar_status {
  padding: 10px;
  margin-bottom: 10px;
}

.hamburger_open .content .content_wrapper li .status_image {
  width: 172px;
}

.hamburger_open .content .content_wrapper li .status_infos {
  width: 300px;
  padding: 10px;
  vertical-align: top;
  margin-left: 2.5%;
}

.hamburger_open .content .content_wrapper li .status_infos a {
  background-color: #e71864;
  color: white;
  border-radius: 5px;
  font-weight: 200;
  padding: 10px;
}

.hamburger_open .content .content_wrapper li .status_infos a:hover {
  background-color: #ec4d88;
  text-decoration: none;
}

.hamburger_open .content .content_wrapper li .status_content_wrapper {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

.hamburger_open .content .content_wrapper li .status_content_wrapper div {
  display: inline-block;
}

.hamburger_open .content .content_wrapper .vos_projets a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

.hamburger_open .content .content_wrapper .vos_projets a:hover {
  color: white;
  background-color: #494c4a;
}

.hamburger_open .start_info {
  width: 100%;
}

.hamburger_open .start_info span {
  padding: 10px;
}

.hamburger_open .start_info p {
  padding: 10px;
}

.hamburger_open .start_info .start_link_info_plus a:first-of-type {
  background: #def6dc;
  display: block;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1.5%;
}

.hamburger_open .start_info .start_link_info_plus span {
  padding: 10px;
}

.hamburger_open .start_info .start_link_info_plus a:not(:first-of-type) {
  background-color: #feeef3;
  display: block;
  padding: 10px;
  margin-bottom: 1.5%;
  border-radius: 5px;
}

.hamburger_open .start_info .start_link_info_plus a:not(:first-of-type) span {
  padding: 10px;
}

.hamburger_open .section_pro {
  width: 100%;
}

.hamburger_open .section_pro span {
  font-weight: bold;
  padding: 10px;
}

.hamburger_open .section_pro .pro_infos_link a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

.hamburger_open .section_pro .pro_infos_link a:hover {
  color: white;
  background-color: #494c4a;
}

.hamburger_open .spotify_chart {
  width: 100%;
}

.hamburger_open .spotify_chart span {
  padding: 10px;
  margin-bottom: 1.5%;
  color: #4c4e4d;
}

.hamburger_open .spotify_chart span:hover {
  color: white;
}

.hamburger_open .spotify_chart .link_for_statistique a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

.hamburger_open .spotify_chart .link_for_statistique a:hover {
  color: white;
  background-color: #494c4a;
}

.hamburger_open .spotify_chart .link_for_statistique .example {
  display: block;
  position: absolute;
  margin-left: 8%;
  margin-top: 7%;
  background-color: rgba(69, 69, 69, 0.68);
  border-radius: 50px;
  width: 9%;
  text-align: center;
  color: white;
  font-weight: 200;
}

.hamburger_open .user_profils {
  width: 100%;
}

.hamburger_open .user_profils span {
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #4c4e4d;
}

.hamburger_open .user_profils .artist_thumbnails p {
  padding: 10px;
}

.hamburger_open .user_profils .artist_thumbnails img {
  width: 100%;
}

.hamburger_open .user_profils .artist_infos_link a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

.hamburger_open .user_profils .artist_infos_link a:hover {
  color: white;
  background-color: #494c4a;
}

.hamburger_open .social_media_merge {
  width: 380px;
}

.hamburger_open li {
  list-style: none;
  width: 100%;
  margin-bottom: 10%;
}

.hamburger_open .header_title_activity {
  width: 100%;
  width: 380px;
}

.hamburger_open .header_title_activity span {
  padding: 10px;
}

.hamburger_open .header_title_activity .activity_thumbnails {
  width: 100%;
  margin-top: 2%;
}

.hamburger_open .header_title_activity .activity_thumbnails .image_activity_container {
  vertical-align: middle;
  padding: 10px;
}

.hamburger_open .header_title_activity .activity_thumbnails .image_activity_container img {
  width: 100%;
  vertical-align: super;
}

.hamburger_open .header_title_activity .reference {
  width: 75%;
  vertical-align: middle;
}

.hamburger_open .header_title_activity .reference p {
  width: 100%;
}

.hamburger_open .header_title_activity .music_activity {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

.hamburger_open .header_title_activity .music_activity div {
  display: inline-block;
}

.hamburger_open .header_title_activity .link_for_pro {
  padding: 10px 10px 10px 1px;
  margin-top: 3%;
}

.hamburger_open .header_title_activity .link_for_pro a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

.hamburger_open .header_title_activity .link_for_pro a:hover {
  color: white;
  background-color: #494c4a;
}

.hamburger_open .social_media li {
  width: 380px;
}

.hamburger_open .social_media_info {
  width: 100%;
}

.hamburger_open .social_media_info .media_sociaux {
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.hamburger_open .social_media_info p {
  padding: 10px;
}

.hamburger_open .social_media_info .music_platform {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

.hamburger_open .social_media_info .music_platform .fa:first-of-type {
  background-color: #e62117;
  padding: 10px;
  border-radius: 50%;
}

.hamburger_open .social_media_info .music_platform .fa {
  width: 71px;
  text-align: center;
  margin: 1.5%;
  padding: 10px;
}

.hamburger_open .social_media_info .fa:nth-of-type(2) {
  background-color: #ff6e00;
  border-radius: 50%;
}

.hamburger_open .social_media_info .fa:nth-of-type(3) {
  background-color: #1da1f2;
  border-radius: 50%;
}

.hamburger_open .social_media_info .fa:last-of-type {
  background-color: #3b5998;
  border-radius: 50%;
}

.hamburger_open .platform_social_link {
  margin-top: 5.5%;
  margin-bottom: 2.5%;
}

.hamburger_open .platform_social_link a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

.hamburger_open .platform_social_link a:hover {
  color: white;
  background-color: #494c4a;
}

.hamburger_open ul {
  float: left;
  margin-left: 2%;
}

.hr_normalize, .hamburger_open .content .content_wrapper li .project hr, .main .content .content_wrapper li .project hr {
  height: 2px;
  border: none;
  background: #eaeaea;
}

.box_normalize, .hamburger_open .content .content_wrapper li .project, .hamburger_open .start_info, .hamburger_open .section_pro, .hamburger_open .spotify_chart, .hamburger_open .user_profils, .hamburger_open .header_title_activity, .hamburger_open .social_media_info, .main .content .content_wrapper li .project, .main .start_info, .main .section_pro, .main .spotify_chart, .user_profils, .header_title_activity, .social_media .social_media_info {
  width: 570px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07);
  padding: 10px;
}

.text_color, .hamburger_open .start_info .start_link_info_plus a:first-of-type, .hamburger_open .start_info .start_link_info_plus a:not(:first-of-type), .main .start_info .start_link_info_plus a:first-of-type, .main .start_info .start_link_info_plus a:not(:first-of-type) {
  color: #494c4a;
}

.main {
  transition: .3s;
}

.main h2 {
  display: none;
}

.main .content {
  width: 1000px;
  margin: 0 auto;
  transition: ease .7s;
  margin-top: 55px;
}

.main .content .content_wrapper li {
  list-style-type: none;
  width: 570px;
  margin-bottom: 2.5%;
}

.main .content .content_wrapper li div {
  padding: 10px;
}

.main .content .content_wrapper li .project span {
  font-size: 1.8rem;
  font-weight: 400;
}

.main .content .content_wrapper li .top_bar_status {
  padding: 10px;
  margin-bottom: 10px;
}

.main .content .content_wrapper li .status_image {
  width: 172px;
}

.main .content .content_wrapper li .status_infos {
  width: 300px;
  padding: 10px;
  vertical-align: top;
  margin-left: 2.5%;
}

.main .content .content_wrapper li .status_infos a {
  background-color: #e71864;
  color: white;
  border-radius: 5px;
  font-weight: 200;
  padding: 10px;
}

.main .content .content_wrapper li .status_infos a:hover {
  background-color: #ec4d88;
  text-decoration: none;
}

.main .content .content_wrapper li .status_content_wrapper {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

.main .content .content_wrapper li .status_content_wrapper div {
  display: inline-block;
}

.main .content .content_wrapper .vos_projets a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

.main .content .content_wrapper .vos_projets a:hover {
  color: white;
  background-color: #494c4a;
}

.main .start_info span {
  padding: 10px;
}

.main .start_info p {
  padding: 10px;
}

.main .start_info .start_link_info_plus a:first-of-type {
  background: #def6dc;
  display: block;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1.5%;
}

.main .start_info .start_link_info_plus span {
  padding: 10px;
}

.main .start_info .start_link_info_plus a:not(:first-of-type) {
  background-color: #feeef3;
  display: block;
  padding: 10px;
  margin-bottom: 1.5%;
  border-radius: 5px;
}

.main .start_info .start_link_info_plus a:not(:first-of-type) span {
  padding: 10px;
}

.main .section_pro span {
  font-weight: bold;
  padding: 10px;
}

.main .section_pro .pro_infos_link a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

.main .section_pro .pro_infos_link a:hover {
  color: white;
  background-color: #494c4a;
}

.main .spotify_chart span {
  padding: 10px;
  margin-bottom: 1.5%;
  color: #4c4e4d;
}

.main .spotify_chart span:hover {
  color: white;
}

.main .spotify_chart .link_for_statistique a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

.main .spotify_chart .link_for_statistique a:hover {
  color: white;
  background-color: #494c4a;
}

.main .spotify_chart .link_for_statistique .example {
  display: block;
  position: absolute;
  margin-left: 8%;
  margin-top: 7%;
  background-color: rgba(69, 69, 69, 0.68);
  border-radius: 50px;
  width: 9%;
  text-align: center;
  color: white;
  font-weight: 200;
}

.user_profils span {
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #4c4e4d;
}

.user_profils .artist_thumbnails p {
  padding: 10px;
}

.user_profils .artist_thumbnails img {
  width: 100%;
}

.user_profils .artist_infos_link a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

.user_profils .artist_infos_link a:hover {
  color: white;
  background-color: #494c4a;
}

.social_media_merge {
  width: 380px;
}

.social_media_merge li {
  list-style: none;
  width: 100%;
  margin-bottom: 10%;
}

.header_title_activity {
  width: 380px;
}

.header_title_activity span {
  padding: 10px;
}

.header_title_activity .activity_thumbnails {
  width: 100%;
  margin-top: 2%;
}

.header_title_activity .activity_thumbnails .image_activity_container {
  vertical-align: middle;
  padding: 10px;
}

.header_title_activity .activity_thumbnails .image_activity_container img {
  width: 100%;
  vertical-align: super;
}

.header_title_activity .reference {
  width: 75%;
  vertical-align: middle;
}

.header_title_activity .reference p {
  width: 100%;
}

.header_title_activity .music_activity {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

.header_title_activity .music_activity div {
  display: inline-block;
}

.header_title_activity .link_for_pro {
  padding: 10px 10px 10px 1px;
  margin-top: 3%;
}

.header_title_activity .link_for_pro a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

.header_title_activity .link_for_pro a:hover {
  color: white;
  background-color: #494c4a;
}

.social_media .social_media_info {
  width: 380px;
}

.social_media .social_media_info .media_sociaux {
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.social_media .social_media_info p {
  padding: 10px;
}

.social_media .social_media_info .music_platform {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

.social_media .social_media_info .music_platform .fa:first-of-type {
  background-color: #e62117;
  padding: 10px;
  border-radius: 50%;
}

.social_media .social_media_info .music_platform .fa {
  width: 71px;
  text-align: center;
  margin: 1.5%;
  padding: 10px;
}

.social_media .social_media_info .fa:nth-of-type(2) {
  background-color: #ff6e00;
  border-radius: 50%;
}

.social_media .social_media_info .fa:nth-of-type(3) {
  background-color: #1da1f2;
  border-radius: 50%;
}

.social_media .social_media_info .fa:last-of-type {
  background-color: #3b5998;
  border-radius: 50%;
}

.social_media .platform_social_link {
  margin-top: 5.5%;
  margin-bottom: 2.5%;
}

.social_media .platform_social_link a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

.social_media .platform_social_link a:hover {
  color: white;
  background-color: #494c4a;
}

.content ul {
  float: left;
  margin-left: 2%;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  body .top-menu {
    display: none;
  }
  body .main .reponsive_menu {
    display: block;
    margin-top: -54.5px;
    padding: 10px;
  }
  body .main h2 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
    transition: width .2s;
  }
  body .main h2 span:first-of-type {
    border-top: 5px solid #f9f9f9;
  }
  body .main h2 span:nth-of-type(2) {
    border-bottom: 5px solid #f9f9f9;
    vertical-align: super;
    margin-left: 3px;
  }
  body .main .content {
    width: 738px;
    overflow-x: hidden;
  }
  body .main .content .content_wrapper {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  body .main .content .content_wrapper li {
    width: 100%;
    padding: 10px;
  }
  body .main .content .content_wrapper li .project {
    width: 100%;
  }
  body .main .content .content_wrapper .start_info, body .main .content .content_wrapper .section_pro, body .main .content .content_wrapper .spotify_chart, body .main .content .content_wrapper .user_profils {
    width: 100%;
  }
  body .main .content .content_wrapper .pro_thumbnail img {
    width: 19.4%;
  }
  body .main .content .content_wrapper .spotify_chart .example {
    width: 47%;
    margin-top: 27%;
    margin-left: 15%;
  }
  body .main .social_media_merge {
    margin: 0;
    width: 100%;
    padding: 10px;
  }
  body .main .social_media_merge li {
    width: 100%;
    padding: 10px;
  }
  body .main .social_media_merge li .header_title_activity, body .main .social_media_merge li .social_media, body .main .social_media_merge li .social_media_info {
    width: 100%;
  }
  body .main .social_media_merge li .social_media_info .fa {
    font-size: 45px;
    width: 87px;
    margin: 4.5%;
  }
  #myChart {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 667px) {
  body {
    overflow-x: hidden;
  }
  body .top-menu {
    display: none;
  }
  body .main .reponsive_menu {
    display: block;
    margin-top: -54.5px;
    padding: 10px;
  }
  body .main h2 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
  }
  body .main h2 span:first-of-type {
    border-top: 5px solid #f9f9f9;
  }
  body .main h2 span:nth-of-type(2) {
    border-bottom: 5px solid #f9f9f9;
    vertical-align: super;
    margin-left: 3px;
  }
  body .main .content {
    width: 667px;
  }
  body .main .content .content_wrapper {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  body .main .content .content_wrapper li {
    width: 647px;
    padding: 10px;
  }
  body .main .content .content_wrapper li .project {
    width: 100%;
  }
  body .main .content .content_wrapper .start_info, body .main .content .content_wrapper .section_pro, body .main .content .content_wrapper .spotify_chart, body .main .content .content_wrapper .user_profils {
    width: 100%;
  }
  body .main .content .content_wrapper .pro_thumbnail img {
    width: 19.4%;
  }
  body .main .content .content_wrapper .spotify_chart .example {
    width: 47%;
    margin-top: 27%;
    margin-left: 15%;
  }
  body .main .social_media_merge {
    margin: 0;
    width: 667px;
    padding: 10px;
  }
  body .main .social_media_merge li {
    width: 100%;
    padding: 10px;
  }
  body .main .social_media_merge li .header_title_activity, body .main .social_media_merge li .social_media, body .main .social_media_merge li .social_media_info {
    width: 100%;
  }
  body .main .social_media_merge li .social_media_info .fa {
    font-size: 45px;
    width: 87px;
    margin: 4.5%;
  }
}

@media only screen and (max-width: 414px) {
  body {
    overflow-x: hidden;
  }
  body .top-menu {
    display: none;
  }
  body .main .reponsive_menu {
    display: block;
    margin-top: -54.5px;
    padding: 10px;
  }
  body .main h2 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
  }
  body .main h2 span:first-of-type {
    border-top: 5px solid #f9f9f9;
  }
  body .main h2 span:nth-of-type(2) {
    border-bottom: 5px solid #f9f9f9;
    vertical-align: super;
    margin-left: 3px;
  }
  body .main .content {
    width: 414px;
    overflow: hidden;
  }
  body .main .content .content_wrapper {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  body .main .content .content_wrapper li {
    width: 100%;
    padding: 10px;
  }
  body .main .content .content_wrapper li .project {
    width: 100%;
  }
  body .main .content .content_wrapper .start_info, body .main .content .content_wrapper .section_pro, body .main .content .content_wrapper .spotify_chart, body .main .content .content_wrapper .user_profils {
    width: 100%;
  }
  body .main .content .content_wrapper .pro_thumbnail img {
    width: 18.9%;
  }
  body .main .content .content_wrapper .spotify_chart .example {
    width: 47%;
    margin-top: 27%;
    margin-left: 15%;
  }
  body .main .social_media_merge {
    width: 413px;
  }
  body .main .social_media_merge li {
    width: 100%;
    padding: 10px;
  }
  body .main .social_media_merge li .header_title_activity, body .main .social_media_merge li .social_media, body .main .social_media_merge li .social_media_info {
    width: 100%;
  }
  body .main .social_media_merge li .social_media_info .fa {
    width: 49px;
    font-size: 28px;
  }
}

@media only screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
  body .top-menu {
    display: none;
  }
  body .main .reponsive_menu {
    display: block;
    margin-top: -54.5px;
    padding: 10px;
  }
  body .main h2 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
  }
  body .main h2 span:first-of-type {
    border-top: 5px solid #f9f9f9;
  }
  body .main h2 span:nth-of-type(2) {
    border-bottom: 5px solid #f9f9f9;
    vertical-align: super;
    margin-left: 3px;
  }
  body .main .content {
    width: 380px;
    overflow: hidden;
  }
  body .main .content .content_wrapper {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  body .main .content .content_wrapper li {
    width: 100%;
    padding: 10px;
  }
  body .main .content .content_wrapper li .project {
    width: 100%;
  }
  body .main .content .content_wrapper .start_info, body .main .content .content_wrapper .section_pro, body .main .content .content_wrapper .spotify_chart, body .main .content .content_wrapper .user_profils {
    width: 100%;
  }
  body .main .content .content_wrapper .pro_thumbnail img {
    width: 18.9%;
  }
  body .main .content .content_wrapper .spotify_chart .example {
    width: 47%;
    margin-top: 27%;
    margin-left: 15%;
  }
  body .main .social_media_merge {
    width: 365px;
  }
  body .main .social_media_merge li {
    width: 100%;
    padding: 10px;
  }
  body .main .social_media_merge li .header_title_activity, body .main .social_media_merge li .social_media, body .main .social_media_merge li .social_media_info {
    width: 100%;
  }
  body .main .social_media_merge li .social_media_info .fa {
    width: 62px;
  }
}

@media only screen and (max-width: 375px) {
  body {
    overflow-x: hidden;
  }
  body .top-menu {
    display: none;
  }
  body .main .reponsive_menu {
    display: block;
    margin-top: -54.5px;
    padding: 10px;
  }
  body .main h2 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
  }
  body .main h2 span:first-of-type {
    border-top: 5px solid #f9f9f9;
  }
  body .main h2 span:nth-of-type(2) {
    border-bottom: 5px solid #f9f9f9;
    vertical-align: super;
    margin-left: 3px;
  }
  body .main .hideItems {
    display: none;
  }
  body .main .content {
    width: 375px;
  }
  body .main .content .content_wrapper {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  body .main .content .content_wrapper li {
    width: 355px;
    padding: 10px;
  }
  body .main .content .content_wrapper li .project {
    width: 100%;
  }
  body .main .content .content_wrapper li .project .status_image {
    width: 100%;
  }
  body .main .content .content_wrapper li .project .status_image img {
    width: 100%;
  }
  body .main .content .content_wrapper .start_info, body .main .content .content_wrapper .section_pro, body .main .content .content_wrapper .spotify_chart, body .main .content .content_wrapper .user_profils {
    width: 100%;
  }
  body .main .content .content_wrapper .pro_thumbnail img {
    width: 18.4%;
  }
  body .main .content .content_wrapper .spotify_chart .example {
    width: 47%;
    margin-top: 27%;
    margin-left: 15%;
  }
  body .main .social_media_merge {
    margin: 0;
    width: 375px;
    padding: 10px;
  }
  body .main .social_media_merge li {
    width: 100%;
    padding: 10px;
  }
  body .main .social_media_merge li .header_title_activity, body .main .social_media_merge li .social_media, body .main .social_media_merge li .social_media_info {
    width: 100%;
  }
  body .main .social_media_merge li .social_media_info .fa {
    font-size: 45px;
    width: 67px;
    margin: 0.5%;
  }
}

@media only screen and (max-width: 320px) {
  body {
    overflow-x: hidden;
  }
  body .top-menu {
    display: none;
  }
  body .main .reponsive_menu {
    display: block;
    margin-top: -54.5px;
    padding: 10px;
  }
  body .main h2 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
  }
  body .main h2 span:first-of-type {
    border-top: 5px solid #f9f9f9;
  }
  body .main h2 span:nth-of-type(2) {
    border-bottom: 5px solid #f9f9f9;
    vertical-align: super;
    margin-left: 3px;
  }
  body .main .content {
    width: 320px;
  }
  body .main .content .content_wrapper {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  body .main .content .content_wrapper li {
    width: 300px;
    padding: 10px;
  }
  body .main .content .content_wrapper li .project {
    width: 100%;
  }
  body .main .content .content_wrapper li .project .status_image {
    width: 100%;
  }
  body .main .content .content_wrapper li .project .status_image img {
    width: 100%;
  }
  body .main .content .content_wrapper li .project .status_infos {
    width: 255px;
  }
  body .main .content .content_wrapper .start_info, body .main .content .content_wrapper .section_pro, body .main .content .content_wrapper .spotify_chart, body .main .content .content_wrapper .user_profils {
    width: 100%;
  }
  body .main .content .content_wrapper .pro_thumbnail img {
    width: 18.4%;
  }
  body .main .content .content_wrapper .spotify_chart .example {
    width: 47%;
    margin-top: 27%;
    margin-left: 15%;
  }
  body .main .social_media_merge {
    margin: 0;
    width: 305px;
    padding: 10px;
  }
  body .main .social_media_merge li {
    width: 100%;
    padding: 10px;
  }
  body .main .social_media_merge li .header_title_activity, body .main .social_media_merge li .social_media, body .main .social_media_merge li .social_media_info {
    width: 100%;
  }
  body .main .social_media_merge li .social_media_info .fa {
    font-size: 45px;
    width: 67px;
    margin: 0.5%;
  }
  .hideItems {
    display: none;
  }
}
