/* line 2, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
body {
  background-color: #f0f0f0;
}

/* line 10, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
#myChart {
  width: 100%;
  height: auto;
}

/* line 13, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.mysideNav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  transition: .3s;
  width: 200px;
  margin-left: -200px;
}

/* line 24, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.mysideNav h1 {
  font-size: 30px;
  font-weight: bold;
  color: #575756;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  padding: 20px;
}

/* line 31, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.mysideNav h1 span:first-of-type {
  border-top: 6px solid #575756;
}

/* line 33, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.mysideNav h1 span:nth-of-type(2) {
  color: #EE2C6C;
  border-bottom: 6px solid #575756;
  font-size: 23px;
  vertical-align: super;
  margin-left: 2px;
}

/* line 40, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.mysideNav .menu li {
  padding: 10px;
  list-style: none;
}

/* line 43, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.mysideNav .menu li:hover {
  background-color: #eaeaea;
}

/* line 45, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.mysideNav .menu li:nth-of-type(8) {
  text-align: center;
  background-color: #EE2C6C;
}

/* line 48, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.mysideNav .menu li:nth-of-type(8):hover {
  background-color: #f12367;
}

/* line 50, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.mysideNav .menu li:nth-of-type(8) a {
  color: white;
}

/* line 52, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.mysideNav .menu a {
  color: #6a6a6a;
  text-align: center;
  display: block;
}

/* line 56, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.mysideNav .menu a:hover {
  text-decoration: none;
}

/* line 58, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.mysideNav .menu a .fa {
  margin: 10px;
}

/* line 62, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler {
  background-color: #4a4c4b;
  height: 55px;
}

/* line 65, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .top-menu {
  margin-left: 0;
  transition: margin-left .3s;
  padding: 10px;
  padding-right: 20px;
  padding-top: 20px;
}

/* line 71, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .top-menu li {
  display: inline-block;
}

/* line 73, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .top-menu li a {
  color: white;
}

/* line 75, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .top-menu li a:hover {
  text-decoration: none;
}

/* line 77, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .reponsive_menu {
  float: right;
  display: none;
}

/* line 80, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .reponsive_menu li {
  list-style: none;
}

/* line 82, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .reponsive_menu li a {
  display: block;
}

/* line 84, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .reponsive_menu li a:hover {
  text-decoration: none;
}

/* line 86, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .menu-toggle {
  padding: 1.8em;
  position: absolute;
  cursor: pointer;
  height: 56px;
}

/* line 91, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .hamburger, .handler .hamburger::before, .handler .hamburger::after {
  background: white;
  height: 3px;
  width: 2em;
  border-radius: 3px;
  content: '';
  display: block;
  transition: ease .3s;
  transform: rotate(-360deg);
}

/* line 100, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .hamburger::before {
  transform: translateY(8px);
}

/* line 103, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .hamburger::after {
  transform: translateY(-11px);
}

/* line 106, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .site-top-nav {
  float: right;
}

/* line 109, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.handler .site-top-nav .top-menu_flat li {
  list-style: none;
  display: inline-block;
}

/* line 113, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.slide_content {
  margin-left: 200px;
}

/* line 115, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.open_sideNav {
  margin-left: 0px;
}

/* line 118, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open {
  transform: rotate(360deg);
  transition: ease .3s;
}

/* line 121, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .hamburger::before {
  width: 50%;
  top: 0;
  transform: translateX(-2px) translateY(4px) rotate(45deg);
}

/* line 125, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .hamburger::after {
  width: 50%;
  bottom: 0;
  transform: translateX(-1px) translateY(-7.8px) rotate(-45deg);
}

/* line 131, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .hr_normalize, .hamburger_open .content .content_wrapper li .project hr, .main .content .content_wrapper li .project .hamburger_open hr {
  height: 2px;
  border: none;
  background: #eaeaea;
}

/* line 135, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .box_normalize, .hamburger_open .content .content_wrapper li .project, .hamburger_open .start_info, .hamburger_open .section_pro, .hamburger_open .spotify_chart, .hamburger_open .social_media_info, .main .content .content_wrapper li .hamburger_open .project, .hamburger_open .user_profils, .hamburger_open .header_title_activity {
  width: 570px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07);
  padding: 10px;
}

/* line 141, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .text_color, .hamburger_open .start_info .start_link_info_plus a:first-of-type, .hamburger_open .start_info .start_link_info_plus a:not(:first-of-type), .main .start_info .start_link_info_plus .hamburger_open a:first-of-type, .main .start_info .start_link_info_plus .hamburger_open a:not(:first-of-type) {
  color: #494c4a;
}

/* line 144, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .content {
  width: 1000px;
  margin: 0 auto;
  transition: ease .7s;
  margin-top: 7.5%;
}

/* line 150, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .content .content_wrapper li {
  list-style-type: none;
  width: 570px;
  margin-bottom: 2.5%;
}

/* line 154, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .content .content_wrapper li div {
  padding: 10px;
}

/* line 158, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .content .content_wrapper li .project span {
  font-size: 1.8rem;
  font-weight: 400;
  width: 100%;
}

/* line 164, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .content .content_wrapper li .top_bar_status {
  padding: 10px;
  margin-bottom: 10px;
}

/* line 167, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .content .content_wrapper li .status_image {
  width: 172px;
}

/* line 169, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .content .content_wrapper li .status_infos {
  width: 300px;
  padding: 10px;
  vertical-align: top;
  margin-left: 2.5%;
}

/* line 174, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .content .content_wrapper li .status_infos a {
  background-color: #e71864;
  color: white;
  border-radius: 5px;
  font-weight: 200;
  padding: 10px;
}

/* line 180, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .content .content_wrapper li .status_infos a:hover {
  background-color: #ec4d88;
  text-decoration: none;
}

/* line 183, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .content .content_wrapper li .status_content_wrapper {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

/* line 187, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .content .content_wrapper li .status_content_wrapper div {
  display: inline-block;
}

/* line 190, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .content .content_wrapper .vos_projets a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

/* line 195, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .content .content_wrapper .vos_projets a:hover {
  color: white;
  background-color: #494c4a;
}

/* line 198, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .start_info {
  width: 100%;
}

/* line 201, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .start_info span {
  padding: 10px;
}

/* line 203, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .start_info p {
  padding: 10px;
}

/* line 206, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .start_info .start_link_info_plus a:first-of-type {
  background: #def6dc;
  display: block;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1.5%;
}

/* line 213, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .start_info .start_link_info_plus span {
  padding: 10px;
}

/* line 215, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .start_info .start_link_info_plus a:not(:first-of-type) {
  background-color: #feeef3;
  display: block;
  padding: 10px;
  margin-bottom: 1.5%;
  border-radius: 5px;
}

/* line 222, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .start_info .start_link_info_plus a:not(:first-of-type) span {
  padding: 10px;
}

/* line 224, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .section_pro {
  width: 100%;
}

/* line 227, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .section_pro span {
  font-weight: bold;
  padding: 10px;
}

/* line 231, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .section_pro .pro_infos_link a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

/* line 236, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .section_pro .pro_infos_link a:hover {
  color: white;
  background-color: #494c4a;
}

/* line 239, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .spotify_chart {
  width: 100%;
}

/* line 242, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .spotify_chart span {
  padding: 10px;
  margin-bottom: 1.5%;
  color: #4c4e4d;
}

/* line 246, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .spotify_chart span:hover {
  color: white;
}

/* line 249, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .spotify_chart .link_for_statistique a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

/* line 254, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .spotify_chart .link_for_statistique a:hover {
  color: white;
  background-color: #494c4a;
}

/* line 258, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .spotify_chart .link_for_statistique .example {
  display: block;
  position: absolute;
  margin-left: 8%;
  margin-top: 7%;
  background-color: rgba(69, 69, 69, 0.68);
  border-radius: 50px;
  width: 9%;
  text-align: center;
  color: white;
  font-weight: 200;
}

/* line 269, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .user_profils {
  width: 100%;
}

/* line 272, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .user_profils span {
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #4c4e4d;
}

/* line 278, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .user_profils .artist_thumbnails p {
  padding: 10px;
}

/* line 280, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .user_profils .artist_thumbnails img {
  width: 100%;
}

/* line 283, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .user_profils .artist_infos_link a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

/* line 288, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .user_profils .artist_infos_link a:hover {
  color: white;
  background-color: #494c4a;
}

/* line 291, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .social_media_merge {
  width: 380px;
}

/* line 293, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open li {
  list-style: none;
  width: 100%;
  margin-bottom: 10%;
}

/* line 297, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .header_title_activity {
  width: 100%;
  width: 380px;
}

/* line 301, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .header_title_activity span {
  padding: 10px;
}

/* line 303, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .header_title_activity .activity_thumbnails {
  width: 100%;
  margin-top: 2%;
}

/* line 306, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .header_title_activity .activity_thumbnails .image_activity_container {
  vertical-align: middle;
  padding: 10px;
}

/* line 309, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .header_title_activity .activity_thumbnails .image_activity_container img {
  width: 100%;
  vertical-align: super;
}

/* line 312, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .header_title_activity .reference {
  width: 75%;
  vertical-align: middle;
}

/* line 315, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .header_title_activity .reference p {
  width: 100%;
}

/* line 317, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .header_title_activity .music_activity {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

/* line 321, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .header_title_activity .music_activity div {
  display: inline-block;
}

/* line 325, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .header_title_activity .link_for_pro {
  padding: 10px 10px 10px 1px;
  margin-top: 3%;
}

/* line 328, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .header_title_activity .link_for_pro a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

/* line 333, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .header_title_activity .link_for_pro a:hover {
  color: white;
  background-color: #494c4a;
}

/* line 337, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .social_media li {
  width: 380px;
}

/* line 339, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .social_media_info {
  width: 100%;
}

/* line 342, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .social_media_info .media_sociaux {
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

/* line 347, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .social_media_info p {
  padding: 10px;
}

/* line 349, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .social_media_info .music_platform {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

/* line 353, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .social_media_info .music_platform .fa:first-of-type {
  background-color: #e62117;
  padding: 10px;
  border-radius: 50%;
}

/* line 357, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .social_media_info .music_platform .fa {
  width: 71px;
  text-align: center;
  margin: 1.5%;
  padding: 10px;
}

/* line 362, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .social_media_info .fa:nth-of-type(2) {
  background-color: #ff6e00;
  border-radius: 50%;
}

/* line 365, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .social_media_info .fa:nth-of-type(3) {
  background-color: #1da1f2;
  border-radius: 50%;
}

/* line 368, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .social_media_info .fa:last-of-type {
  background-color: #3b5998;
  border-radius: 50%;
}

/* line 371, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .platform_social_link {
  margin-top: 5.5%;
  margin-bottom: 2.5%;
}

/* line 374, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .platform_social_link a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

/* line 379, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open .platform_social_link a:hover {
  color: white;
  background-color: #494c4a;
}

/* line 385, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hamburger_open ul {
  float: left;
  margin-left: 2%;
}

/* line 391, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.hr_normalize, .hamburger_open .content .content_wrapper li .project hr, .main .content .content_wrapper li .project hr {
  height: 2px;
  border: none;
  background: #eaeaea;
}

/* line 395, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.box_normalize, .hamburger_open .content .content_wrapper li .project, .hamburger_open .start_info, .hamburger_open .section_pro, .hamburger_open .spotify_chart, .hamburger_open .user_profils, .hamburger_open .header_title_activity, .hamburger_open .social_media_info, .main .content .content_wrapper li .project, .main .start_info, .main .section_pro, .main .spotify_chart, .user_profils, .header_title_activity, .social_media .social_media_info {
  width: 570px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07);
  padding: 10px;
}

/* line 401, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.text_color, .hamburger_open .start_info .start_link_info_plus a:first-of-type, .hamburger_open .start_info .start_link_info_plus a:not(:first-of-type), .main .start_info .start_link_info_plus a:first-of-type, .main .start_info .start_link_info_plus a:not(:first-of-type) {
  color: #494c4a;
}

/* line 403, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main {
  transition: .3s;
}

/* line 405, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main h2 {
  display: none;
}

/* line 407, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .content {
  width: 1000px;
  margin: 0 auto;
  transition: ease .7s;
  margin-top: 55px;
}

/* line 413, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .content .content_wrapper li {
  list-style-type: none;
  width: 570px;
  margin-bottom: 2.5%;
}

/* line 417, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .content .content_wrapper li div {
  padding: 10px;
}

/* line 421, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .content .content_wrapper li .project span {
  font-size: 1.8rem;
  font-weight: 400;
}

/* line 426, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .content .content_wrapper li .top_bar_status {
  padding: 10px;
  margin-bottom: 10px;
}

/* line 429, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .content .content_wrapper li .status_image {
  width: 172px;
}

/* line 431, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .content .content_wrapper li .status_infos {
  width: 300px;
  padding: 10px;
  vertical-align: top;
  margin-left: 2.5%;
}

/* line 436, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .content .content_wrapper li .status_infos a {
  background-color: #e71864;
  color: white;
  border-radius: 5px;
  font-weight: 200;
  padding: 10px;
}

/* line 442, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .content .content_wrapper li .status_infos a:hover {
  background-color: #ec4d88;
  text-decoration: none;
}

/* line 445, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .content .content_wrapper li .status_content_wrapper {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

/* line 449, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .content .content_wrapper li .status_content_wrapper div {
  display: inline-block;
}

/* line 452, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .content .content_wrapper .vos_projets a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

/* line 457, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .content .content_wrapper .vos_projets a:hover {
  color: white;
  background-color: #494c4a;
}

/* line 462, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .start_info span {
  padding: 10px;
}

/* line 464, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .start_info p {
  padding: 10px;
}

/* line 467, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .start_info .start_link_info_plus a:first-of-type {
  background: #def6dc;
  display: block;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1.5%;
}

/* line 474, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .start_info .start_link_info_plus span {
  padding: 10px;
}

/* line 476, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .start_info .start_link_info_plus a:not(:first-of-type) {
  background-color: #feeef3;
  display: block;
  padding: 10px;
  margin-bottom: 1.5%;
  border-radius: 5px;
}

/* line 483, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .start_info .start_link_info_plus a:not(:first-of-type) span {
  padding: 10px;
}

/* line 487, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .section_pro span {
  font-weight: bold;
  padding: 10px;
}

/* line 491, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .section_pro .pro_infos_link a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

/* line 496, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .section_pro .pro_infos_link a:hover {
  color: white;
  background-color: #494c4a;
}

/* line 501, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .spotify_chart span {
  padding: 10px;
  margin-bottom: 1.5%;
  color: #4c4e4d;
}

/* line 505, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .spotify_chart span:hover {
  color: white;
}

/* line 508, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .spotify_chart .link_for_statistique a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

/* line 513, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .spotify_chart .link_for_statistique a:hover {
  color: white;
  background-color: #494c4a;
}

/* line 517, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.main .spotify_chart .link_for_statistique .example {
  display: block;
  position: absolute;
  margin-left: 8%;
  margin-top: 7%;
  background-color: rgba(69, 69, 69, 0.68);
  border-radius: 50px;
  width: 9%;
  text-align: center;
  color: white;
  font-weight: 200;
}

/* line 530, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.user_profils span {
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #4c4e4d;
}

/* line 536, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.user_profils .artist_thumbnails p {
  padding: 10px;
}

/* line 538, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.user_profils .artist_thumbnails img {
  width: 100%;
}

/* line 541, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.user_profils .artist_infos_link a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

/* line 546, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.user_profils .artist_infos_link a:hover {
  color: white;
  background-color: #494c4a;
}

/* line 549, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media_merge {
  width: 380px;
}

/* line 551, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media_merge li {
  list-style: none;
  width: 100%;
  margin-bottom: 10%;
}

/* line 555, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.header_title_activity {
  width: 380px;
}

/* line 558, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.header_title_activity span {
  padding: 10px;
}

/* line 560, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.header_title_activity .activity_thumbnails {
  width: 100%;
  margin-top: 2%;
}

/* line 563, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.header_title_activity .activity_thumbnails .image_activity_container {
  vertical-align: middle;
  padding: 10px;
}

/* line 566, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.header_title_activity .activity_thumbnails .image_activity_container img {
  width: 100%;
  vertical-align: super;
}

/* line 569, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.header_title_activity .reference {
  width: 75%;
  vertical-align: middle;
}

/* line 572, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.header_title_activity .reference p {
  width: 100%;
}

/* line 574, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.header_title_activity .music_activity {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

/* line 578, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.header_title_activity .music_activity div {
  display: inline-block;
}

/* line 582, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.header_title_activity .link_for_pro {
  padding: 10px 10px 10px 1px;
  margin-top: 3%;
}

/* line 585, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.header_title_activity .link_for_pro a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

/* line 590, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.header_title_activity .link_for_pro a:hover {
  color: white;
  background-color: #494c4a;
}

/* line 594, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media .social_media_info {
  width: 380px;
}

/* line 597, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media .social_media_info .media_sociaux {
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

/* line 602, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media .social_media_info p {
  padding: 10px;
}

/* line 604, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media .social_media_info .music_platform {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

/* line 608, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media .social_media_info .music_platform .fa:first-of-type {
  background-color: #e62117;
  padding: 10px;
  border-radius: 50%;
}

/* line 612, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media .social_media_info .music_platform .fa {
  width: 71px;
  text-align: center;
  margin: 1.5%;
  padding: 10px;
}

/* line 617, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media .social_media_info .fa:nth-of-type(2) {
  background-color: #ff6e00;
  border-radius: 50%;
}

/* line 620, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media .social_media_info .fa:nth-of-type(3) {
  background-color: #1da1f2;
  border-radius: 50%;
}

/* line 623, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media .social_media_info .fa:last-of-type {
  background-color: #3b5998;
  border-radius: 50%;
}

/* line 626, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media .platform_social_link {
  margin-top: 5.5%;
  margin-bottom: 2.5%;
}

/* line 629, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media .platform_social_link a {
  border: 1px solid #494c4a;
  border-radius: 5px;
  color: #494c4a;
  padding: 10px;
}

/* line 634, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.social_media .platform_social_link a:hover {
  color: white;
  background-color: #494c4a;
}

/* line 638, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
.content ul {
  float: left;
  margin-left: 2%;
}

@media only screen and (max-width: 768px) {
  /* line 656, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body {
    overflow-x: hidden;
  }
  /* line 658, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .top-menu {
    display: none;
  }
  /* line 661, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .reponsive_menu {
    display: block;
    margin-top: -54.5px;
    padding: 10px;
    padding-right: 25px;
  }
  /* line 666, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
    transition: width .2s;
  }
  /* line 674, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:first-of-type {
    border-top: 5px solid #f9f9f9;
  }
  /* line 676, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:nth-of-type(2) {
    border-bottom: 5px solid #f9f9f9;
    vertical-align: super;
    margin-left: 3px;
  }
  /* line 680, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content {
    width: 738px;
    overflow-x: hidden;
  }
  /* line 683, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  /* line 688, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li {
    width: 100%;
    padding: 10px;
  }
  /* line 691, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project {
    width: 100%;
  }
  /* line 693, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .start_info, body .main .content .content_wrapper .section_pro, body .main .content .content_wrapper .spotify_chart, body .main .content .content_wrapper .user_profils {
    width: 100%;
  }
  /* line 696, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .pro_thumbnail img {
    width: 19.4%;
  }
  /* line 699, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .spotify_chart .example {
    width: 47%;
    margin-top: 27%;
    margin-left: 15%;
  }
  /* line 703, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge {
    margin: 0;
    width: 100%;
    padding: 10px;
  }
  /* line 707, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li {
    width: 100%;
    padding: 10px;
  }
  /* line 710, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .header_title_activity, body .main .social_media_merge li .social_media, body .main .social_media_merge li .social_media_info {
    width: 100%;
  }
  /* line 713, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .social_media_info .fa {
    font-size: 45px;
    width: 87px;
    margin: 4.5%;
  }
  /* line 717, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  #myChart {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 667px) {
  /* line 722, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body {
    overflow-x: hidden;
  }
  /* line 724, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .top-menu {
    display: none;
  }
  /* line 727, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .reponsive_menu {
    display: block;
    margin-top: -54.5px;
    padding: 10px;
    padding-right: 25px;
  }
  /* line 732, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
  }
  /* line 739, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:first-of-type {
    border-top: 5px solid #f9f9f9;
  }
  /* line 741, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:nth-of-type(2) {
    border-bottom: 5px solid #f9f9f9;
    vertical-align: super;
    margin-left: 3px;
  }
  /* line 745, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content {
    width: 667px;
  }
  /* line 747, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  /* line 752, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li {
    width: 647px;
    padding: 10px;
  }
  /* line 755, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project {
    width: 100%;
  }
  /* line 757, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .start_info, body .main .content .content_wrapper .section_pro, body .main .content .content_wrapper .spotify_chart, body .main .content .content_wrapper .user_profils {
    width: 100%;
  }
  /* line 760, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .pro_thumbnail img {
    width: 19.4%;
  }
  /* line 763, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .spotify_chart .example {
    width: 47%;
    margin-top: 27%;
    margin-left: 15%;
  }
  /* line 767, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge {
    margin: 0;
    width: 667px;
    padding: 10px;
  }
  /* line 771, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li {
    width: 100%;
    padding: 10px;
  }
  /* line 774, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .header_title_activity, body .main .social_media_merge li .social_media, body .main .social_media_merge li .social_media_info {
    width: 100%;
  }
  /* line 777, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .social_media_info .fa {
    font-size: 45px;
    width: 87px;
    margin: 4.5%;
  }
}

@media only screen and (max-width: 414px) {
  /* line 856, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body {
    overflow-x: hidden;
  }
  /* line 858, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .top-menu {
    display: none;
  }
  /* line 861, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .reponsive_menu {
    display: block;
    margin-top: -54.5px;
    padding: 10px;
    padding-right: 25px;
  }
  /* line 866, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
  }
  /* line 873, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:first-of-type {
    border-top: 5px solid #f9f9f9;
  }
  /* line 875, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:nth-of-type(2) {
    border-bottom: 5px solid #f9f9f9;
    vertical-align: super;
    margin-left: 3px;
  }
  /* line 879, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .hideItems {
    display: none;
  }
  /* line 881, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content {
    width: 414px;
    overflow: hidden;
  }
  /* line 884, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  /* line 889, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li {
    width: 100%;
    padding: 10px;
  }
  /* line 892, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project {
    width: 100%;
  }
  /* line 894, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .start_info, body .main .content .content_wrapper .section_pro, body .main .content .content_wrapper .spotify_chart, body .main .content .content_wrapper .user_profils {
    width: 100%;
  }
  /* line 897, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .pro_thumbnail img {
    width: 18.9%;
  }
  /* line 900, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .spotify_chart .example {
    width: 47%;
    margin-top: 27%;
    margin-left: 15%;
  }
  /* line 904, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge {
    width: 413px;
  }
  /* line 906, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li {
    width: 100%;
    padding: 10px;
  }
  /* line 909, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .header_title_activity, body .main .social_media_merge li .social_media, body .main .social_media_merge li .social_media_info {
    width: 100%;
  }
  /* line 912, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .social_media_info .fa {
    width: 49px;
    font-size: 28px;
  }
}

@media only screen and (max-width: 400px) {
  /* line 916, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body {
    overflow-x: hidden;
  }
  /* line 918, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .top-menu {
    display: none;
  }
  /* line 921, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .reponsive_menu {
    display: block;
    margin-top: -54.5px;
    padding: 10px;
    padding-right: 25px;
  }
  /* line 926, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
  }
  /* line 933, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:first-of-type {
    border-top: 5px solid #f9f9f9;
  }
  /* line 935, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:nth-of-type(2) {
    border-bottom: 5px solid #f9f9f9;
    vertical-align: super;
    margin-left: 3px;
  }
  /* line 939, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .hideItems {
    display: none;
  }
  /* line 941, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content {
    width: 380px;
    overflow: hidden;
  }
  /* line 944, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  /* line 949, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li {
    width: 100%;
    padding: 10px;
  }
  /* line 952, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project {
    width: 100%;
  }
  /* line 954, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .start_info, body .main .content .content_wrapper .section_pro, body .main .content .content_wrapper .spotify_chart, body .main .content .content_wrapper .user_profils {
    width: 100%;
  }
  /* line 957, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .pro_thumbnail img {
    width: 18.9%;
  }
  /* line 960, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .spotify_chart .example {
    width: 47%;
    margin-top: 27%;
    margin-left: 15%;
  }
  /* line 964, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge {
    width: 365px;
  }
  /* line 966, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li {
    width: 100%;
    padding: 10px;
  }
  /* line 969, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .header_title_activity, body .main .social_media_merge li .social_media, body .main .social_media_merge li .social_media_info {
    width: 100%;
  }
  /* line 972, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .social_media_info .fa {
    width: 62px;
  }
}

@media only screen and (max-width: 375px) {
  /* line 977, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body {
    overflow-x: hidden;
  }
  /* line 979, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .top-menu {
    display: none;
  }
  /* line 982, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .reponsive_menu {
    display: block;
    margin-top: -54.5px;
    padding: 10px;
    padding-right: 25px;
  }
  /* line 987, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
  }
  /* line 994, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:first-of-type {
    border-top: 5px solid #f9f9f9;
  }
  /* line 996, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:nth-of-type(2) {
    border-bottom: 5px solid #f9f9f9;
    vertical-align: super;
    margin-left: 3px;
  }
  /* line 1000, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .hideItems {
    display: none;
  }
  /* line 1002, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content {
    width: 375px;
  }
  /* line 1004, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  /* line 1009, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li {
    width: 355px;
    padding: 10px;
  }
  /* line 1012, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project {
    width: 100%;
  }
  /* line 1014, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project .status_image {
    width: 100%;
  }
  /* line 1016, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project .status_image img {
    width: 100%;
  }
  /* line 1018, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .start_info, body .main .content .content_wrapper .section_pro, body .main .content .content_wrapper .spotify_chart, body .main .content .content_wrapper .user_profils {
    width: 100%;
  }
  /* line 1021, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .pro_thumbnail img {
    width: 18.4%;
  }
  /* line 1024, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .spotify_chart .example {
    width: 47%;
    margin-top: 27%;
    margin-left: 15%;
  }
  /* line 1028, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge {
    margin: 0;
    width: 375px;
    padding: 10px;
  }
  /* line 1032, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li {
    width: 100%;
    padding: 10px;
  }
  /* line 1035, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .header_title_activity, body .main .social_media_merge li .social_media, body .main .social_media_merge li .social_media_info {
    width: 100%;
  }
  /* line 1038, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .social_media_info .fa {
    font-size: 45px;
    width: 67px;
    margin: 0.5%;
  }
}

@media only screen and (max-width: 360px) {
  /* line 1046, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body {
    overflow-x: hidden;
  }
  /* line 1048, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .top-menu {
    display: none;
  }
  /* line 1050, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main {
    width: 360px;
  }
  /* line 1052, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .reponsive_menu {
    display: block;
    margin-top: -54.5px;
    padding: 10px;
    padding-right: 25px;
  }
  /* line 1057, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
  }
  /* line 1064, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:first-of-type {
    border-top: 5px solid #f9f9f9;
  }
  /* line 1066, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:nth-of-type(2) {
    border-bottom: 5px solid #f9f9f9;
    vertical-align: super;
    margin-left: 3px;
  }
  /* line 1070, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .hideItems {
    display: none;
  }
  /* line 1072, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content {
    width: 360px;
  }
  /* line 1074, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  /* line 1079, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li {
    width: 341px;
    padding: 10px;
  }
  /* line 1082, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project {
    width: 100%;
  }
  /* line 1084, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project .status_image {
    width: 100%;
  }
  /* line 1086, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project .status_image img {
    width: 100%;
  }
  /* line 1088, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .start_info, body .main .content .content_wrapper .section_pro, body .main .content .content_wrapper .spotify_chart, body .main .content .content_wrapper .user_profils {
    width: 100%;
  }
  /* line 1091, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .pro_thumbnail img {
    width: 18.4%;
  }
  /* line 1094, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .spotify_chart .example {
    width: 47%;
    margin-top: 27%;
    margin-left: 15%;
  }
  /* line 1098, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge {
    margin: 0;
    width: 360px;
    padding: 10px;
  }
  /* line 1102, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li {
    width: 100%;
    padding: 10px;
  }
  /* line 1105, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .header_title_activity, body .main .social_media_merge li .social_media, body .main .social_media_merge li .social_media_info {
    width: 100%;
  }
  /* line 1108, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .social_media_info .fa {
    font-size: 45px;
    width: 64px;
    margin: 0.5%;
  }
}

@media only screen and (max-width: 320px) {
  /* line 1114, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body {
    overflow-x: hidden;
  }
  /* line 1116, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .top-menu {
    display: none;
  }
  /* line 1119, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .reponsive_menu {
    display: block;
    margin-top: -54.5px;
    padding: 10px;
    padding-right: 25px;
  }
  /* line 1124, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 {
    display: block;
    font-size: 25px;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #f9f9f9;
  }
  /* line 1131, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:first-of-type {
    border-top: 5px solid #f9f9f9;
  }
  /* line 1133, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main h2 span:nth-of-type(2) {
    border-bottom: 5px solid #f9f9f9;
    vertical-align: super;
    margin-left: 3px;
  }
  /* line 1137, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content {
    width: 320px;
  }
  /* line 1139, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper {
    float: none;
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  /* line 1144, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li {
    width: 300px;
    padding: 10px;
  }
  /* line 1147, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project {
    width: 100%;
  }
  /* line 1149, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project .status_image {
    width: 100%;
  }
  /* line 1151, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project .status_image img {
    width: 100%;
  }
  /* line 1153, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper li .project .status_infos {
    width: 255px;
  }
  /* line 1155, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .start_info, body .main .content .content_wrapper .section_pro, body .main .content .content_wrapper .spotify_chart, body .main .content .content_wrapper .user_profils {
    width: 100%;
  }
  /* line 1158, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .pro_thumbnail img {
    width: 18.4%;
  }
  /* line 1161, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .content .content_wrapper .spotify_chart .example {
    width: 47%;
    margin-top: 27%;
    margin-left: 15%;
  }
  /* line 1165, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge {
    margin: 0;
    width: 305px;
    padding: 10px;
  }
  /* line 1169, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li {
    width: 100%;
    padding: 10px;
  }
  /* line 1172, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .header_title_activity, body .main .social_media_merge li .social_media, body .main .social_media_merge li .social_media_info {
    width: 100%;
  }
  /* line 1175, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  body .main .social_media_merge li .social_media_info .fa {
    font-size: 45px;
    width: 67px;
    margin: 0.5%;
  }
  /* line 1179, Users/Steve/Documents/wenesis_new_work/work_wene/style/style.sass */
  .hideItems {
    display: none;
  }
}
